main{
	display: flex;
	flex-direction: column;
	margin: 0;

}

header{
	border: 1px solid black;
  	margin: 2vh 2vw 2vh 2vw;
	display: flex;
}

h1{
	display: flex;
	flex-grow: 1;
	font-size: 6vw;
	padding-left: 2vw;

}

ul{
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;	
}
li{
	font-size: 1.5vw;
	padding: 0.5em;
	margin: 0.5em;
	list-style: none;
 	
}
section{
	display: flex;
	flex-direction: row;
	margin: 2vh 2vw 2vh 2vw;
}

.one figure{
	border: 1px solid black;
	display: flex;
	flex-grow: 1;
	height: 30vh;
}
.left{
	margin: 0 0 0 1em;
}
.right{
	margin: 0 1em 0 0;
}
aside{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	flex-basis: 25%;
	margin: auto;
}
article{
	margin: 1em 0 1em 2em;
	border: 1px solid black;
	height: 60vh;
}
article figure{
	background-color: gray;
	height: 25vh;
	margin: 0;
}
p{
	padding: 1em;
	font-size: 1.3vw;
}
.ranking{
	margin: 1em 1em 1em 0;
	border: 1px solid black;
	justify-content: center;
	align-items: center;
}
.ranking img{
	height: 15vh;
	width: 20vw;
	padding: 1em;
}
footer{
  	margin: 2vh 2vw 2vh 2vw;
	padding-left: 4vw;
	padding-right: 4vw;
	display: flex;
	height: 20vh;
	justify-content: space-around;
	align-items: center;
	background-color: gray;
}
footer img{
	background-color: orangered;
	height: 10vh;
	width: 5vw;
	border-radius: 100%;
}